<div ng-controller="changepassCtrl">
<!--<p class="text-center">Welcome to the change password page</p>-->
<div class="container">
    <div class="col-md-4 col-md-offset-4">
      
  
   <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Change Password</div>
      <div class="panel-body">
          <label for="usr">Current Password:</label><br>
          <input type="password" class="form-control" id="usr" ng-model="newpass.oldPassword"><br>
          <label for="usr">New Password:</label><br>
          <input type="password" class="form-control" id="pwd" ng-model="newpass.newPassword"><br>
          <label for="usr">Confirm New Password:</label><br>
          
          <input type="password" class="form-control" id="pwd" ng-model="newpass.confirmNewPassword">
          <p class="text-danger" ng-if="newpass.newPassword!==newpass.confirmNewPassword">Passwords do not match!</p><br>
          
          <div class="text-center"><div class="btn btn-primary" ng-disabled="newpass.newPassword!==newpass.confirmNewPassword" ng-click="changePassword(newpass)">Submit</div>
          
    </div>
</div>
</div>
</div>
</div>

</div>
</div>